body {
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    background: #b7b7b794;
    color: #102bbf;
}

div {
	display: inline-block;
}

a {
	padding-left: 65%;
}

.commits {
	width: 100%
}

.commit {
	position: relative;
	margin: 0;
	padding-left: 30%;
	width: 25%;
    margin: .3em 0em 3em 0em;
}

.commitHash {
	color: #f7f7f7;
}

.commitDetails {
	color: #14882e;
}

.command {
	margin: 1em 1em 1em 0em;
	font-weight: 500;
}

.commit_msg {
	position: absolute;
    vertical-align: middle;
    margin-top: 1em;
    margin-left: 1em;
}

.comm2 {
	color: #14882e;
}

.comm3 {
	color: #ab8d32;
}

.star {
	color: #f7f7f7;

}

.cmd {
	color: black;
}

.chart {
	color: #276d3d;
}

p {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	margin: 0;
}